<h2>Create</h2>
@{
    var myChart = new Chart(width: 600, height: 600)
        .AddTitle("Project Name vs Ticket Count")
        .AddSeries(chartType: "pie",
            name: "",
            xValue: ViewBag.Xval,
            yValues: ViewBag.Yval)
        .Write();
}