@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Application developed for IT Support team to manage requests from different employees in a variety of different departments.</p>
<p>Developed by <i>Akhila Ginna</i> for  Field Services</p>

